In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=11764&md5_url=63da90da53affbda60bab24f31be3d59")

In [4]:
df.head()

   證券代號 證券名稱  殖利率(%)  股利年度    本益比  股價淨值比  財報年/季
0  1101   台泥    9.62   107  10.27   1.28  108/3
1  1102   亞泥    6.26   107   9.86   1.05  108/3
2  1103   嘉泥    5.00   107   9.90   0.59  108/3
3  1104   環泥    5.29   107  12.35   0.70  108/3
4  1108   幸福    0.00   107      -   0.74  108/3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933 entries, 0 to 932
Data columns (total 7 columns):
證券代號      933 non-null int64
證券名稱      933 non-null object
殖利率(%)    933 non-null float64
股利年度      933 non-null int64
本益比       933 non-null object
股價淨值比     933 non-null float64
財報年/季     933 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 51.1+ KB

In [12]:
df["證券代號"]=df.證券代號.astype(str)

In [5]:
ddf=pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=11549&md5_url=bb878d47ffbe7b83bfc1b41d0b24946e")

In [6]:
ddf.head()

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,"2,087,613","193,351,977",92.50,92.90,92.40,92.90,+0.60,"1,586"
1,0051,元大中型100,"9,300","329,508",35.32,35.48,35.32,35.48,+0.18,15
2,0052,富邦科技,"141,548","9,555,446",67.10,67.70,67.10,67.70,+0.60,44
3,0053,元大電子,"19,070","788,438",41.26,41.59,41.26,41.48,+0.24,17
4,0054,元大台商50,"2,000","49,550",24.74,24.81,24.74,24.81,+0.11,2

In [14]:
df_price=ddf[["證券代號","收盤價"]]

In [15]:
df_merge=df.merge(df_price,left_on=("證券代號"),right_on=("證券代號"))

In [18]:
df_merge.head()

   證券代號 證券名稱  殖利率(%)  股利年度    本益比  股價淨值比  財報年/季    收盤價
0  1101   台泥    9.62   107  10.27   1.28  108/3  42.10
1  1102   亞泥    6.26   107   9.86   1.05  108/3  44.85
2  1103   嘉泥    5.00   107   9.90   0.59  108/3  20.40
3  1104   環泥    5.29   107  12.35   0.70  108/3  18.75
4  1108   幸福    0.00   107      -   0.74  108/3   7.72

In [44]:
df_merge=df_merge[df_merge.本益比!='-']

In [54]:
df_merge=df_merge[df_merge["殖利率(%)"]!=0]

In [56]:
df_merge["本益比"]=df_merge["本益比"].astype(float)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
x=df_merge[["殖利率(%)","本益比"]].values
y=df_merge.收盤價.values
y=y.reshape(685,1)

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
x_train,x_test,y_train,t_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [71]:
from sklearn.svm import SVC
clf=SVC(gamma="auto")

In [72]:
clf.fit(x_train,y_train)

/Users/amy/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)