In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 讀進境外學生資料

In [3]:
df=pd.read_csv("http://stats.moe.gov.tw/files/detail/107/107_ab106_S.csv")

In [4]:
df.head()

,大專校院,學校代碼,學校名稱,學位生_正式修讀學位外國生,學位生_僑生(含港澳),學位生_正式修讀學位陸生,非學位生_外國交換生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,境外專班
0,大專校院,0001,國立政治大學,511,653,366,523,58,861,0,0,0
1,大專校院,0002,國立清華大學,564,497,279,62,147,425,0,0,0
2,大專校院,0003,國立臺灣大學,883,1395,474,723,516,953,0,0,0
3,大專校院,0004,國立臺灣師範大學,595,703,147,124,88,4567,0,0,9
4,大專校院,0004A,國立臺灣師大僑生先修部,0,497,0,0,0,0,0,0,0

# 取出境外學生的學位生

In [55]:
dfn=df[["學校名稱","學位生_正式修讀學位外國生","學位生_僑生(含港澳)","學位生_正式修讀學位陸生"]]

In [61]:
dfn["總數"]=dfn.loc[:,"學位生_正式修讀學位外國生":"學位生_正式修讀學位陸生"].sum(axis=1)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
dfn_sort=dfn.sort_values("總數",ascending=False)

In [66]:
dfn_sort.index=range(1,156)

## 最多境外學位生的五間學校

In [71]:
dfn_sort[dfn_sort.總數>0].head()

     學校名稱  學位生_正式修讀學位外國生  學位生_僑生(含港澳)  學位生_正式修讀學位陸生    總數
1  國立臺灣大學            883         1395           474  2752
2    銘傳大學            779          763           469  2011
3    淡江大學            590          896           468  1954
4  國立成功大學            876          695           188  1759
5    逢甲大學            569          629           372  1570

### 政大的境外學位生總數排名第6

In [73]:
dfn_sort[dfn_sort.學校名稱=="國立政治大學"]

     學校名稱  學位生_正式修讀學位外國生  學位生_僑生(含港澳)  學位生_正式修讀學位陸生    總數
6  國立政治大學            511          653           366  1530

# 挑選出非學位之境外學生

In [13]:
df_non=df[["學校名稱","非學位生_外國交換生","非學位生_外國短期研習及個人選讀","非學位生_大專附設華語文中心學生","非學位生_大陸研修生","非學位生_海青班"]]

In [14]:
df_non["總數"]=df_non.loc[:,"非學位生_外國交換生":"非學位生_海青班"].sum(axis=1)

/Users/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df_non_sort=df_non.sort_values(by="總數",ascending=False)

In [23]:
df_non_sort.drop(1,inplace=True)

In [24]:
df_non_sort.index=range(1,155)

# 非學位生之境外學生最多的學校前五名

In [26]:
df_non_sort.head()

,學校名稱,非學位生_外國交換生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,總數
1,國立臺灣師範大學,124,88,4567,0,0,4779
2,淡江大學,113,0,2183,0,0,2296
3,銘傳大學,129,574,1053,0,527,2283
4,國立臺灣大學,723,516,953,0,0,2192
5,中國文化大學,128,38,1542,0,235,1943

### 政大在非學位生之境外學生中總數排名第8

In [25]:
df_non_sort[df_non_sort.學校名稱=="國立政治大學"]

,學校名稱,非學位生_外國交換生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,總數
8,國立政治大學,523,58,861,0,0,1442

# 境外專班最多的學校前五名

In [33]:
df[df.境外專班>0].sort_values(by="境外專班",ascending=False).head()

,大專校院,學校代碼,學校名稱,學位生_正式修讀學位外國生,學位生_僑生(含港澳),學位生_正式修讀學位陸生,非學位生_外國交換生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,境外專班
109,大專校院,1064,美和科技大學,35,5,0,0,0,0,0,0,338
66,大專校院,1020,南華大學,507,51,6,1,352,480,0,0,169
76,大專校院,1030,龍華科技大學,549,167,44,33,0,10,0,51,63
72,大專校院,1026,樹德科技大學,216,246,139,8,24,343,0,0,60
77,大專校院,1031,輔英科技大學,19,91,0,0,130,0,0,0,55