In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_json("https://data.ntpc.gov.tw/od/data/api/15A0EB13-E0D7-484E-9997-B747500557D2?$format=json")

In [5]:
df.tail()

,yearmonth,organ,field1,field2,field3,field4,field5,field6,field7,field8,field9,field10,field11,field12,field13,field14,field15,field16,other
1100,108 年 10 月,汐止分局,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1101,108 年 10 月,淡水分局,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1102,108 年 10 月,瑞芳分局,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1103,108 年 10 月,金山分局,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1104,108 年 10 月,林口分局,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0